.welcomeScreen_wrapper {
    width: 99.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid red;
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.welcomeScreen_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.welcomeScreen_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    text-align: center;

    .welcomeScreen_image {
        width: 100%;
        height: 200px;
        border: 2px solid red;
    }

    .welcomeScreen_input {
        margin-bottom: 2rem;
    }

    .welcomeScreen_button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .button_description {
            font-size: .75rem;
            color: #888;

            .enter {
                font-weight: 500;
                border: 1px solid #888;
                padding: .25rem;
                border-radius: 8px;
            }
        }
    }


}

.date {
    font-size: .75rem;
    color: #888;
}

.quote {
    font-size: .75rem;
    color: #888;
    font-style: italic;
}

.title {
    font-size: 3rem;
    font-weight: 500;
}

.goalInput {
    width: 100%;
    height: 50px;
    border: none;
    background-color: transparent;
    text-align: center;
    outline: 0;
    border-bottom: 2px solid #888;
    font-size: 1.5rem;
}