.welcomeScreen_wrapper {
    width: 99.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.welcomeScreen_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.welcomeScreen_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    text-align: center;

    .welcomeScreen_image {
        width: 65%;
        height: 200px;
        border: 2px solid red;
        box-shadow: 0 20px 20px 0px #00000014;
    }

    .welcomeScreen_input {
        margin-bottom: 3rem;
    }

    .welcomeScreen_button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .cookButton {
            background-color: #FFFFFF;
            border: 1px solid #F3F4F6;
            border-radius: 38px;
            padding: .8rem 2rem;
            width: 100%;
            box-shadow: 0 4px 6px -1px #13ec4924, inset 0 -4px 4px 1px #00000016, 0 2px 4px -1px #13ec490f;
            cursor: pointer;
            color: black;
        }

        .button_description {
            font-size: .75rem;
            color: #9CA3AF;
            font-weight: medium;

            .enter {
                font-weight: 500;
                border: 1px solid #888;
                padding: .25rem;
                border-radius: 8px;
            }
        }
    }


}

.date {
    font-size: .75rem;
    color: #9CA3AF;
}

.quote {
    font-size: .75rem;
    color: #9CA3AF;
    font-style: italic;
}

.title {
    font-size: 3.2rem;
    font-family: 'Noto Serif';
    font-weight: 500;
    color: #1F2937;
    text-align: center;
}

.goalInput {
    width: 100%;
    height: 50px;
    border: none;
    background-color: transparent;
    text-align: center;
    outline: 0;
    border-bottom: 2px solid #888;
    font-size: 1.5rem;
}